
  
  {% extends "base/all.html" %}

  {% block body %}
     <h1>
      Apropos : <br><br> Projet Module python EQUIPE : <br><br>   
     </h1>
       <h4>
           AMOA INE -1 : <br> <hr> Ilyass AJABBOUR<br>Yassir ARROUD<br>Nouhaila AIT ALLAL<br>Salah AIT ELASRI<br>Chaimae HARAKA <br> Soufian bouyhyaoui   <br><br> professeur encadrant :<strong> <mark> Souissi </mark>  </strong> <details><summary> contacter :<bdi> الاستاذ المؤطر  </bdi></summary> +212666666666</details>  
       </h4>
       <hr>

        <code> for i in range :
        	       print(" code tag ")
        </code>
      

  {% endblock body %}






